/*disable links style*/
    #divAdLeft a[href="#"] {
        pointer-events: none;
    }
    #divAdRight a[href="#"] {
        pointer-events: none;
    }
/*mobile banner styles*/
    #bottom_banner {
        position: fixed;
        text-align: center;
        bottom: 0px;
        width: 100%;
        z-index: 999;
    }
    #bottom_banner img {
        vertical-align: bottom;
    }
    .close-btn {
        border: 2px solid #FFFFFF;
        position: relative;
        padding: 1px 5px;
        background-color: #605F61;
        border-radius: 15px;
    }
    .close-btn:after {
        font-size: 15px;
        content: "X";
        font-weight: bold;
        color: white;
        text-decoration: none;
    }