/* Checkbox style */
.iphone-style  {
 position: relative;
    padding: 5px 0 0 50px;
    line-height: 2.0em;
}
.iphone-style:before  {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.iphone-style:after{

    content: "";
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.iphone-style:hover:after{
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.on:after {
    margin-left: 16px;
}
.on:before {
    background: #55D069;
}
.firerift-style {		
	display: block;
	width: 68px;
	height: 28px;
	background: url('images/firerift.png') no-repeat;
	cursor: pointer;
}
.hidden{display: none !important;}
